footer{
    background-color:rgba(35,35,35);
    padding-bottom:1vmax;
}
#footer{
    display:flex-start;
    flex-direction: column;
}
.left-footer img{
        width:22vmax;
        height:22vmax;
}
.middle-footer div{
    display:flex;
    flex-direction:row;
    padding:.8vmax 3vmax;
}
.icon1{
    font-size: 1.4vmax;
}
.middle-footer div span{
    padding-left:1vmax;
    font-size:1.35vmax;
}
.middle-footer{
    padding:1vmax 3vmax;
    color:white;
}
.middle-footer h1{
    padding-bottom:1.1vmax;
    font-size:2vmax;
}
.right-footer span{
    padding-left:3vmax;
    padding-top: 1vmax;
    font-size:1.35vmax;
    display:block;
}
.right-footer{
    padding:1vmax 3vmax;
    color:white;
}
.right-footer h1{
    padding-bottom:1.1vmax;
    font-size:2vmax;
}
.most-right-footer p{
    padding:1.2vw 0 1.2vw 6vw;
    font-size:1.4vmax;
    line-height: 1.4;
}
.most-right-footer{
    padding:1vmax 3vmax;
    color:white;
}
.most-right-footer h1{
    padding-bottom:1.1vmax;
    font-size:2vmax;
}
.icons{
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:2vmax 0vmax 3vmax 0;
}
.icons span{
    border:1px solid white;
    border-radius: 100%;
    width:2vmax;
    height:2vmax;
    padding:2vmax 2vmax;
    margin:0 1.5vmax;
}
.icon{
    font-size:2vmax;
}
.follow-us p{
    color:white;
    text-align: center;
    font-size:1.5vmax;
    margin-bottom:10px;
}
@media screen and (min-width:1080px){
    footer{
        background-color:rgba(35,35,35);
        padding-bottom:1vmax;
    }
    .icon1{
        font-size: 1.2vw;
    }
    .icon{
        font-size: 1.5vw;
    }
    #footer{
        font-family:"Montserrat";
        margin-top:10vmax;
        padding:2vmax;
        padding-right:5vmax;
        background-color:rgba(35,35,35);
        color:white;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content:center;
    }
    #footer img{
        height:21vw;
        width:21vw;
    }
    
    .middle-footer{
        text-align:left;
        width:40vw;
    }
    .middle-footer div{
        padding:1vw 0vw;
    }
    .middle-footer div span{
        padding:0vw 1vw;
        margin-top:-.2vw;
        font-size:1.1vw;
    }
    .middle-footer .location{
        margin-top:0px;
    }
    .middle-footer h1{
        font-size:1.8vw;
        padding-bottom:60px;
    }
    .middle-footer span{
        padding-right:1vmax;
    }
    .right-footer{
        padding-left:3vmax;
        width:40vw;
        /* margin-left:-2vw; */
    }
    .right-footer h1{
        font-size:1.8vw;
        padding-bottom:60px;
    }
    .right-footer span{
        /* padding-bottom:2.1vw;    */
        padding:1vw 0;
        font-size:1.1vw;
    }
    .most-right-footer{
        padding-left:3vmax;
        width:40vw;
        margin-top:-3.5vw;
        margin-left:-7vw;
    }
    .most-right-footer h1{
        font-size:1.8vw;
        padding-bottom:60px;
        /* margin-bottom:4vw; */
    }
    .most-right-footer p{
        padding:1vw 0;   
        font-size:1.1vw;
    }
    
    .bar{
        width:88vw;
        margin-left:4vmax;
        border-radius:10px;
        border:2px solid white;
    }
    .follow-us{
        color:white;   
    }
    .insta, .phone, .email{
        margin-top:px;
    }
    .icons{
        padding:0;
    }
    .icons span{
        height:1.2vw;
        width:1vw;
        margin:3vw 1vw;
        cursor:pointer;
    }

    .follow-us p{
        text-align:center;
        font:300 .9vw "Roboto";
    }
}

